<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crabcake Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Style.css">


</head>
    <body>

    <div class="container">



    <div class="well">
        <!--To create buttons for Home,Google, MC-->
        <a class="btn btn-default"target="_blank" href="RecipeBook.html">Home</a></li>
        <a class="btn btn-default" class="btn btn-default"target="_blank" href="https://www.montgomerycollege.edu">MC page</a>
        <a class="btn btn-default" class="btn success"target="_blank"href="https://google.com">Google page</a>

    </div>

        <div class="well">
            <!--To create buttons for Home,Google, MC-->

            <a class="btn btn-default" href="CrabcakeRecipe.html">Crabcake</a>
            <a class="btn btn-default"href="EggSouce.html">EggSouce</a>
            <a class="btn btn-default" href="GulabJamun.html">GulabJamun</a>
            <a class="btn btn-default" href="Wings.html">Wings</a>
            <a class="btn btn-default" href="Injera.html">Injera</a>
            <a class="btn btn-default" href="Makhrouds.html">Makhrouds</a>

        </div>


                <div>
                    <img class="standardimage4 img" src="http://bestanimations.com/Flags/USA/usa-american-flag-gif-3.gif"
                         alt="Traditional Food Recipes" align="right" ><h3 class="well well-sm"> American Food</h3>
                </div>


                <div class="col-md-6">
        <img class="standardimage5 img-thumbnail"s src="https://www.onceuponachef.com/images/2010/07/6a0115721bb963970b0134851bb656970c-450wi.jpg"
        alt="Crabcake Recipe" ></div>


<div class="row">
    <div class="<col-md-12>">
    <h4>Ingredients </h4>

    <p1>

        <ul>
        <div><li> 1 lb. jumbo lump or backfin crab meat   </div></li>
        <div><li> 2 slices bread or bread crumbs</div></li>
        <div><li> 1 tbsp. mayonnaise (light or regular)</div></li>
        <div><li> 1 tbsp. Dijon mustard</div></li>
        <div><li> 2 tsp. Old Bay seasoning</div></li>
        <div><li> 1 tbsp. snipped parsley</div></li>
        <div><li> 1 egg (or substitute for special diets)</div></li>
        <div><li> tartar sauce or cocktail sauce</div></li>
        </ul>
    </p1>
    </div>
</div>

        <div class="col-sm-6 col-md-12">
    <h3>Directions:</h3>

    <p>
    Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well

    Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.
    Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.
    </p>

    <h3>Broil the Crab Cakes:</h3>

    <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>

        <h3>Or saute:</h3>

        <p>
        Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.

        Serve at once with tartar sauce, mustard, or cocktail sauce on the side.
        </p>

        <p>
            <em><strong><h5 >To Server </h5></strong></em>

        </p>

    <!-- Latest compiled and minified JavaScript -->


    </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
    </html>