<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crapcake Recipe</title>

    </head>
    <body>

    <h3>Crabcake Recipe</h3>
    <div><img src="https://www.onceuponachef.com/images/2010/07/6a0115721bb963970b0134851bb656970c-450wi.jpg"alt="Text"></div>
    <h4>Ingredients</h4>
    <p1>
        <ul>
        <div><li>1 lb. jumbo lump or backfin crab meat   </div></li>
        <div><li>2 slices bread or bread crumbs</div></li>
        <div><li>1 tbsp. mayonnaise (light or regular)</div></li>
        <div><li>1 tbsp. Dijon mustard</div></li>
        <div><li>2 tsp. Old Bay seasoning</div></li>
        <div><li>1 tbsp. snipped parsley</div></li>
        <div><li>1 egg (or substitute for special diets)</div></li>
        <div><li>tartar sauce or cocktail sauce</div></li>
        </ul>
    <br>
    <h3>Directions:</h3>
    <br>
    <p>
        <div>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, </div>Chesapeake seasoning and parsley, and beat well</p>
        <br>
    <p>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.</p>
        <br>
    <p><div>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the </div>refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.</p>
    <br>
    <h4>Broil the Crab Cakes:</h4>
    <br>
    <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>
    <br>
        <h4>Or saute:</h4>

    <br>
        <p>
        <div>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.</div>

        Serve at once with tartar sauce, mustard, or cocktail sauce on the side.
        </p>
        <br>
        <h5>Serves 6 people</h5>
    </p1>


    </body>
    </html>