<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>

    The tittle of this is HTML!

    </title>
</head>
<body>


        <h1>Name</h1>
        <p1>My name is Bruck.</p1>
        <h2>Computer #</h2>
        <p1>My Computer number is 19</p1>
        <h3>Where you Live</h3>
        <p1>I live in Maryland</p1>
        <h4>Favourite Movie </h4>
        <p1>My Favourite Movie is Shrek</p1>
        <h5>Favourite Quote </h5>
        <p1>My Favourite Quote is the man who never make a mistakes copy it from the one who alsways does!</p1>
        <h6>Anything Else #</h6>
        <p1>nothing more to say!</p1>


        <br>
        <p1>

            <div><img src="https://staticdelivery.nexusmods.com/mods/110/images/74627-0-1459502036.jpg"></div>
            <!--The above shows a link to show an image-->
            <a target="_blank" href=" https://www.w3schools.com/html/html_attributes.asp">
                    Clikc this Link as a reference..
            </a>

            <--!the below shows unordered lists -->
            <ul>
                <li>This is a list item</li>
                <li>This is a another list item</li>
                <li>This is also another list item</li>
            </ul>

            <--!the below shows ordered lists -->
            <ol>
                <li>This is a list item</li>
                <li>This is a another list item</li>
                <li>This is also another list item</li>
            </ol>

        </p1>


</body>
</html>