.standardimage1
{
    height:225px;
    margin-right:10%;
    width:225px;
}

.standardimage3
{
    height:500px;
    margin-right:1%;
    width:100px;

}

.standardimage2
{ height: 400px;
    margin-right:2%;
    width:650px;
}

.standardimage4
{ height: 40px;
    margin-right:1%;
    width:50px;
}

.standardimage5
{ height: 350px;
    margin-right:2%;
    width:450px;
}

.Menu
{
    height: 100px;
    margin-right:1%;
    width:150px;

}


.fontsize
{
    font-size:18px;
}


.fontsize1
{
    font-size:25px;
}

.text-uppercase

.fontcolor
{
    color:red;
}

.html {
    height: 100%;
}
.body {
    background-color:darkgoldenrod;
}

.body2 {
    background-color:lightblue;
}

.body3 {
    background-color:lightgreen;
}

.margin
{
    margin-right:45px;
}


